<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BeeHive.Azure" version="1.2.0" targetFramework="net45" />
  <package id="BeeHive.DataStructures" version="1.2.0" targetFramework="net45" />
  <package id="BeeHive.ServiceLocator.Windsor" version="1.2.0" targetFramework="net45" />
  <package id="BeeHive-common" version="1.2.0" targetFramework="net45" />
  <package id="Castle.Core" version="3.2.0" targetFramework="net452" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net452" />
  <package id="Dapper" version="1.42" targetFramework="net45" />
  <package id="Elasticsearch.Net" version="5.6.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.Azure.KeyVault.Core" version="2.0.4" targetFramework="net45" />
  <package id="Microsoft.Azure.ServiceBus.EventProcessorHost" version="2.2.7" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.8.2" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.8.2" targetFramework="net45" />
  <package id="Microsoft.Data.Services.Client" version="5.8.2" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.0.0" targetFramework="net45" />
  <package id="NEST" version="5.6.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net45" />
  <package id="PerfIt" version="2.2.0" targetFramework="net452" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.0.11" targetFramework="net45" />
  <package id="System.Dynamic.Runtime" version="4.0.0" targetFramework="net45" />
  <package id="System.Linq.Queryable" version="4.0.0" targetFramework="net45" />
  <package id="System.Net.Requests" version="4.0.11" targetFramework="net45" />
  <package id="System.Spatial" version="5.8.2" targetFramework="net45" />
  <package id="WindowsAzure.ServiceBus" version="3.4.1" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="8.7.0" targetFramework="net45" />
</packages>